html {
  background-color: rgb(206, 206, 206);
}

main {
  position: relative;
}

header {
  box-sizing: border-box;
  background: url(../images/chalkboard.jpg);
  background-size: cover;
  height: 200px;
  border-bottom: solid rgb(40, 98, 61) 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 120px;
  font-family: "Fredericka the Great", cursive;
  margin: 5px;
}

header p {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  font-family: "Fredericka the Great", cursive;
  margin: 5px;
}

#favorites {
  box-sizing: border-box;
  display: grid;
  grid-auto-columns: repeat(10, 1fr);
  grid-auto-columns: 1fr 1fr;
  background: rgb(210, 177, 106, 0.8);
  border-radius: 5px;
  min-height: 50px;
  margin: 40px 20px 20px 20px;
  padding: 20px;
}

#dump-btns {
  box-sizing: border-box;
  display: grid;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  padding: 5px;
  min-height: 50px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  word-wrap: break-word;
}

.topic-buttons {
  font-family: "Fredericka the Great", cursive;
  background: rgb(210, 177, 106, 0.8);
  border: dotted black 2px;
  margin: 3px;
  border-radius: 5px;
  outline-color: rgb(40, 98, 61);
  min-height: 32px;
  cursor: pointer;
}

.topic-buttons:focus {
  box-shadow: 0 0 0 1.5px rgb(40, 98, 61);
  border-radius: 2px;
}

#form {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Fredericka the Great", cursive;
  font-size: 20px;
  background: rgba(75, 75, 75, 0.8);
  border-radius: 5px;
  height: 140px;
  width: 360px;
  margin: auto;
  padding: 20px;
}

#user-input {
  margin: 15px;
  height: 20px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
}

#submit-btn {
  margin: 5px;
  width: 75px;
  font-size: 16px;
  background: lightgrey;
  border-radius: 16px;
  font-variant: petite-caps;
  cursor: pointer;
}

#coffee-pic {
  position: absolute;
  height: 75px;
  width: 75px;
  right: 7px;
  top: 30px;
  transform: rotate(13deg);
  opacity: 0.8;
}

#coffee-beans-pic {
  position: absolute;
  height: 52px;
  width: 85px;
  left: 4px;
  top: 41px;
  transform: rotate(-13deg);
  opacity: 0.8;
}

#dump-gifs {
  box-sizing: border-box;
  display: grid;
  background: rgba(40, 98, 61, 0.8);
  border-radius: 5px;
  min-height: 200px;
  margin: 20px 20px 40px 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.gif-formatting {
  border: solid rgb(182, 182, 182) 10px;
  border-radius: 5px;
  display: flex;
  justify-self: center;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.gif-formatting:nth-child(odd) {
  border: solid rgb(210, 177, 106, 0.8) 10px;
}

#sticky-footer {
  min-height: calc(100vh - 80px);
}

footer {
  box-sizing: border-box;
  height: 80px;
  background: url(../images/chalkboard.jpg);
  background-size: cover;
  border-top: solid rgb(40, 98, 61) 10px;
  font-size: 30px;
  font-family: "Fredericka the Great", cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 499px) {
  h1 {
    font-size: 95px;
  }

  footer {
    font-size: 25px;
  }

  .gif-formatting {
    height: 300px;
    width: 300px;
  }

  #dump-gifs {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
