html {
  background-color: rgb(206, 206, 206);
}

main {
  width: 98%;
  margin: auto;
}

header {
  box-sizing: border-box;
  background: url(../images/chalkboard.jpg);
  background-size: cover;
  height: 200px;
  border-bottom: solid rgb(76, 120, 90) 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 120px;
  font-family: "Fredericka the Great", cursive;
  margin: 5px;
}

header p {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  font-family: "Fredericka the Great", cursive;
  margin: 5px;
}

#favorites-label {
  background: rgb(193, 163, 99);
  margin: 20px 20px -18px 20px;
  display: inline-flex;
  width: 140px;
  padding-top: 4px;
  justify-content: center;
  border-radius: 12px;
  position: relative;
  z-index: -1;
  height: 40px;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  align-items: flex-start;
  color: white;
}

#favorites {
  box-sizing: border-box;
  display: grid;
  background: rgb(193, 163, 99);
  border-radius: 5px;
  margin: 0 20px 20px 20px;
  padding: 5px;
  min-height: 50px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  word-wrap: break-word;
}

#favorites button {
  background-color: white;
  color: rgb(193, 163, 99);
  border: solid black 2px;
}

#buttons-label {
  background: white;
  margin: 0 20px -18px 20px;
  display: inline-flex;
  width: 140px;
  padding-top: 4px;
  justify-content: center;
  border-radius: 12px;
  position: relative;
  z-index: -1;
  height: 40px;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  align-items: flex-start;
  color: rgb(193, 163, 99);
}

#dump-btns {
  box-sizing: border-box;
  display: grid;
  background: white;
  border-radius: 5px;
  margin: 0 20px 20px 20px;
  padding: 5px;
  min-height: 50px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  word-wrap: break-word;
}

.topic-buttons {
  font-family: "Special Elite", cursive;
  font-weight: bold;
  background: rgb(193, 163, 99);
  color: white;
  border: solid black 2px;
  margin: 3px;
  border-radius: 5px;
  outline-color: rgb(76, 120, 90);
  min-height: 32px;
  cursor: pointer;
}

.topic-buttons:focus {
  box-shadow: 0 0 0 1.5px rgb(76, 120, 90);
  border-radius: 2px;
}

#form {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Fredericka the Great", cursive;
  border-radius: 5px;
  border: solid white 5px;
  height: 140px;
  width: 352px;
  margin: auto;
  padding: 20px;
  background: url(../images/chalkboard.jpg);
  background-size: cover;
  font-size: 22px;
}

#user-input {
  margin: 11px;
  height: 20px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
}

#submit-btn {
  margin: 5px;
  width: 75px;
  font-size: 16px;
  font-weight: bold;
  background: white;
  border-radius: 16px;
  font-variant: petite-caps;
  cursor: pointer;
  color: rgb(84, 84, 84);
}

#coffee-pic {
  position: absolute;
  height: 75px;
  width: 75px;
  right: 7px;
  top: 30px;
  transform: rotate(13deg);
}

#coffee-beans-pic {
  position: absolute;
  height: 52px;
  width: 85px;
  left: 4px;
  top: 41px;
  transform: rotate(-13deg);
}

#gifs-label {
  background: rgb(76, 120, 90);
  margin: -6px 20px -18px 20px;
  display: inline-flex;
  width: 140px;
  padding-top: 4px;
  justify-content: center;
  border-radius: 12px;
  position: relative;
  z-index: -1;
  height: 40px;
  font-size: 23px;
  font-family: "Titillium Web", sans-serif;
  align-items: flex-start;
  color: rgb(206, 206, 206);
}

#dump-gifs {
  box-sizing: border-box;
  display: grid;
  background: rgb(76, 120, 90);
  border-radius: 5px;
  min-height: 200px;
  margin: 0 20px 20px 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.gif-resizing {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.gif-formatting {
  border: solid white 10px;
  border-radius: 5px;
  display: flex;
  position: relative;
  justify-self: center;
  height: 200px;
  width: 200px;
}

.gif-formatting:nth-child(odd) {
  border: solid rgb(193, 163, 99) 10px;
}

.fa-download:before {
  color: white;
  background-color: rgb(76, 120, 90);
  padding: 7px;
  border-radius: 5px;
}

#download-formatting {
  position: absolute;
  bottom: 11px;
  right: 5px;
  z-index: 2;
}

#download-formatting:hover {
  transform: scale(1.1);
}

#sticky-footer {
  min-height: calc(100vh - 80px);
}

footer {
  box-sizing: border-box;
  height: 80px;
  background: url(../images/chalkboard.jpg);
  background-size: cover;
  border-top: solid rgb(76, 120, 90) 10px;
  font-size: 30px;
  font-family: "Fredericka the Great", cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
